.form-container {
  display: flex;
  justify-content: center;
}

.left-input-container {
  flex: 0 0 50%;
}

.right-input-container {
  flex: 0 0 50%;
}

.input-city {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 60px;
}

.input-desc {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.input-extn {
  margin-left: 21px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.select-number {
  margin-left: 13px;
  margin-top: 20px;
}

.select-state {
  margin-left: 68px;
  margin-top: 10px;
  width: 82px;
}

.active-status {
  margin-left: 54px !important;
  margin-top: 20px !important;
}

.inactive-status {
  margin-left: 10px !important;
  margin-top: 20px !important;
}

.save-btn {
  margin-right: 400px;
  margin-top: 21px;
}
.close-btn {
  margin-top: 21px;
}